* {
  all: unset;
  transition: 200ms;
}

$bg: #1a1b26;
$bg-alt: #24283b;
$fg: #c0caf5;
$fg-alt: #a9b1d6;
$fg-alt2: #9aa5ce;
$black: #414868;
$gray: #565f89;
$red: #f7768e;
$green: #9ece6a;
$yellow: #e0af68;
$blue: #7aa2f7;
$magenta: #bb9af7;
$cyan: #7dcfff;
$white: $fg;

tooltip {
  font-family: "SF Mono";
  font-weight: 500;
  font-size: 1rem;
  color: $fg;
  background-color: $bg;
  border: 3px solid $bg;
  border-radius: .5rem;
}

@import "scss/bar.scss";
// @import "scss/volume.scss";
// @import "scss/player.scss";
// @import "scss/powermenu.scss";
// @import "scss/workspaces.scss";
