window > .bar {
  margin: 0rem;
  padding: 0rem;
  box-shadow: 0 0 4px 1px rgba(black, 0.5);
  background-color: $bg;
  border-radius: 4px;
}

.bar{
  .top{
    background-color: $bg-alt;
    margin: 0.25rem 0.5rem;
    padding: 0.25rem 0rem;
    border-radius: 4px;
  }
  .center{
    background-color: $bg-alt;
    margin: 0.25rem 0.5rem;
    padding: 0rem 0rem;
    border-radius: 4px;
  }
  .end{
    background-color: $bg-alt;
    margin: 0.25rem 0.5rem;
    padding: 0.25rem 0rem;
    border-radius: 4px;
  }
  .launcher{
    font-size: 20pt;
    color: $blue;
    padding: 0rem 0rem;
  }
  .time{
    font-size: 20pt;
    color: $blue;
    .hour{
      font-weight: 800;
      // margin-right: -4px;
    }
    .two-dots{
      color: $fg-alt;
      font-size: 12pt;
      margin-left: -10px;
      margin-right: -10px;
    }
    .min{
      color: $blue;
      font-weight: 800;
      // margin-left: -4px;
    }
    .date{
      font-size: 9pt;
      color: $fg-alt;
      font-weight: 800;
    }
  }
  .workspaces{
    font-size: 20pt;
    .ws-button{
      color: $fg-alt;
    }
    .ws-button-open{
      color: $blue
    }
    .ws-button-active{
      color: $blue
    }

  }
}
